<!--  Carrega esta tela aonde o turbo_frame for chamado-->
<%=turbo_frame_tag :new_item do %> 
<% content_for :title, "Nova tarefa" %>
  <div class="md:w-2/3 w-full">
  

    <%= render "form", item: @item %>


  </div>
<%end%>
